.menu{
  display: flex;
  flex-direction: row;

  @media (max-width: 600px){
    display: none;
  }

  li{
    a{
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 300ms;
      padding: 0 10px 10px 10px;
      font-size: 20px;
      font-weight: 600;
      &:hover{
        border-color: #FFF;
        opacity: .5;
      }
    }
  }
}

.menu-mobile{
  display: none;

  @media (max-width: 600px){
    display: block;
  }

  button{
    display: block;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: 0;

    svg{
      width: 30px;
      fill: #FFF;
    }
  }

  ul{
    display: block;
    background: #FFF;
    transition: all;
    position: absolute;
    top: -100%;
    right: 0;
    width: 70%;
    height: 100%;
    transition: all ease-in-out 300ms;

    &.active{
      top: 70px;
    }

    li{
      a{
        display: block;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #000;
        font-weight: bold;
        color: #000;
      }
    }
  }
}