header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;

  @media (max-width: 600px){
    padding: 20px;
  }

  svg{
    @media (max-width: 600px){
      width: 60%;
    }
  }
}